<div class='lieferant'>
    <div class="lieferant_image">
            <f:if condition="{lieferant.image}">
                <f:then>
                    <div>
                        <f:image width="120" height="120c" treatIdAsReference="1" title="{lieferant.title}" src="{lieferant.image.originalResource.publicUrl}" />
                    </div>
                </f:then>
            </f:if>
    </div>
    <div class="lieferant_content">
        <div class="title">{lieferant.title}</div>
        <div class="produkte"><span class="lieferant_label">Produkte:</span> {lieferant.produkte}</div>
        <div class="region"><span class="lieferant_label">Region:</span> {lieferant.region.title}</div>
    </div>


</div>
